@import url("https://fonts.googleapis.com/css?family=Roboto:400,700");
@import url('https://fonts.googleapis.com/css?family=Kodchasan:400,700');
*,
*::after,
*::before{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}